:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*color-scheme: light dark;*/
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #ffffff;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 83px;
  box-shadow: 0px 1px 3px 5px rgba(7, 2, 2, 0.514) 0px 1px 2px 8px
    rgba(0, 0, 0, 0.274);
  background-color: #ffffff;
}

header > img {
  width: 50px;
}

header > h1 {
  margin: 0;
  font-weight: 400;
  font-family: Inter, sans-serif;
  color: #020202;
}

form {
  margin-top: 30px;
  margin-left: 12px;
}
.inp {
  gap: 12px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  margin: 10px;
  border-radius: 5px;
  flex-grow: 1;
  border: 1px solid #fffff9;
  width: 25%;
  height: 30px;
  min-width: 150px;
  max-width: 400px;
}

button {
  background-color: #020202;
  text-align: center;
  transition: 3s;
  cursor: pointer;
  border: none;
  padding: 8px 10px;
  border-radius: 4px;
}

article.journal {
  display: flex;
  margin-bottom: 36px;
}
article.journal .marker {
  width: 7px;
  margin-right: 4px;
}

article.journal .main-image-container {
  width: 125px;
  height: 168px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
  margin-right: 19px;
}
article.journal .main-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
ul {
  margin-top: 46px;
  max-width: 400px;
  font-size: 18px;
  text-decoration: none;
}
ul > li {
  line-height: 20px;
  padding-block: 19px;
}

/*ul > li::marker {
  color: #61dafb;
  font-size: 2rem;
}
.nav__list {
  display: flex;

  list-style: none;
}

.nav__list__item {
  display: flex;
  margin-left: 15px;
  margin-right: 10px;
}

main {
  background-image: url(/src/assets/react\ background.png);
  background-repeat: no-repeat;
  padding-inline-start: 60px 30px;
  background-position-x: right;
  background-position-y: 70%;
}

/*.header {
  display: flex;
  align-content: space-between;

  justify-content: space-between;
}*/

h1 {
  font-size: 3.2rem;
  margin-top: 5rem;
  margin-left: 4rem;
}
.footer {
  background-color: #020202;
  color: #ffffff;
  margin-top: 6rem;
  font-size: 0.9rem;
  width: auto;
  padding-top: 10px;
}

/*button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
